@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*   font-family: "Work Sans", serif;*/
* {
  margin: 0;
  padding: 0;
}
section{
  margin-bottom: 90px;
}
.hero {
  background-image: linear-gradient(360deg, rgba(9, 9, 9, 0.851) 2.884%,rgba(16, 16, 16, 0.049) 101.034%), url("../assets/hero-bg.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-content {
  width: 800px;
}
.hero-title1{
  opacity: 0.8;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 20px;
}
.hero-title2{
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 20px;
}
.hero-para{
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 30px;
}
.hero-btn{
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  border-radius: 8px;
  padding: 20px 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.hero-btn:hover{
  background-color: rgb(82, 195, 100);
  transition: background-color 1s;
}
.btn-control{
  text-align: center;
}


/* cards */
.card-title{
  text-align: center;
  margin-bottom: 30px;
}
.cards .card1 img{
  width: 300px;
  height: 200px;
  margin-top: 50px;
}
.card1-description{
  text-align: center;
  width: 300px;
  margin-top: 20px;
}
.item-name{
  display: inline-block;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  padding: 5px 15px;
  margin-bottom: 10px;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}
.item-off{
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  padding: 8px;
}
.item-description{
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.card1{
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0.5px solid rgb(232, 228, 228);;
  border-radius: 10px;
}
.card1:hover{
  box-shadow: 5px 5px 12px gray;
  transition: box-shadow 2s;
}
.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card-section{
  border: 1px dashed rgb(205, 203, 203);
  margin-left: 20px;
  margin-right: 20px;
}
.card-title1{
  opacity: 0.6;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.card-title2{
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
